*{
	margin:0;
	padding:0;
}
#box{
    display:flex;
	height:400px; 	
}
#box .head{
	background:rgba(2,76,171);
}
#left{
     width:182px;
     height:300px;
}
#left .left-head{
	height:84px;
	position:relative;
}
#left .left-head .img-logo{
	margin:25px 17px;
}
#left .left-head .img-line{
	position:absolute;
	top:31px;
	right:10px;
}
#left .left-body-one{
	position:relative;
}
#left .left-body .icon{
	width:3px;
	height:47px;
	background:rgba(102,46,203);
	position:absolute;
	top:0;
	left:0;
}
#left .left-body>div{
	height:47px;
}
#left .left-body .collect{
	color:#024caa;
}
#left .left-body .left-body-text{
	color:#666;
}
#left .left-body>div>.img{
	padding:15px 20px;
}
#left .left-body>div span{
	margin-left:10px;
	font-family:MicrosoftYaHei-Bold;
	font-size:14px;
}
#right{
     height:300px;
     flex:1;
     background:yellow;
}
#right .right-head{
     height:50px;
}